.app-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: [pad-start] 0 [start] 1fr [end] 0 [pad-end];
  grid-template-rows: [header-start] auto [header-end controls-start] auto [controls-end deck-start] auto [deck-end players-start] 1fr [players-end];
  height: 100%;
  /* background-color: yellow; */
}

.app-header {
  margin-bottom: 1rem;
  grid-column: pad-start/pad-end;
  grid-row: header-start/header-end;
  /* background-color: red; */
}

.app-controls {
  padding: 1rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
  grid-column: start/end;
  grid-row: controls-start/controls-end;
  /* background-color: blue; */
}

.app-deck {
  padding: 1rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
  grid-column: start/end;
  grid-row: deck-start/deck-end;
  /* background-color: green; */
}

.app-players {
  overflow: auto;
  margin-bottom: 1rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
  grid-column: start/end;
  grid-row: players-start/players-end;
  /* background-color: purple; */
}

@media only screen and (min-width: 840px) {
  .app-container {
    grid-template-columns: [pad-start] 1rem [start] 1fr [end] 1rem [pad-end];
    grid-template-rows: [header-start] auto [header-end controls-start] auto [controls-end deck-start] auto [deck-end players-start] 1fr [players-end];
  }

  .app-header {
    grid-column: pad-start/pad-end;
    grid-row: header-start/header-end;
  }

  .app-controls {
    grid-column: start/end;
    grid-row: controls-start/controls-end;
  }

  .app-deck {
    grid-column: start/end;
    grid-row: deck-start/deck-end;
  }

  .app-players {
    grid-column: start/end;
    grid-row: players-start/players-end;
  }
}

@media only screen and (min-width: 1200px) {
  .app-container {
    grid-template-columns: [pad-start] 5rem [start] 1fr [end] 5rem [pad-end];
    grid-template-rows: [header-start] auto [header-end controls-start] auto [controls-end deck-start] auto [deck-end players-start] 1fr [players-end];
  }
}

@media only screen and (min-width: 1440px) {
  .app-container {
    grid-template-columns: [pad-start] 10rem [start] 1fr [end] 10rem [pad-end];
    grid-template-rows: [header-start] auto [header-end controls-start] auto [controls-end deck-start] auto [deck-end players-start] 1fr [players-end];
  }
}
