.controls {
  display: grid;
  grid-gap: var(--padding-md);
  grid-template-columns: [start deal-start] 1fr [deal-end autoplay-start] auto [autoplay-end config-start] auto [config-end logs-start] auto [logs-end end];
  grid-template-rows: [start] auto [end];
}

.controls-deal {
  grid-column: deal-start/deal-end;
  grid-row: start/end;
}

.controls-deal > * {
  height: 100%;
}

#controls-deal {
  width: 100%;
}

.controls-autoplay {
  grid-column: autoplay-start/autoplay-end;
  grid-row: start/end;
}

.controls-config {
  grid-column: config-start/config-end;
  grid-row: start/end;
}

.controls-logs {
  grid-column: logs-start/logs-end;
  grid-row: start/end;
}

@media only screen and (min-width: 600px) {
  .controls {
    display: grid;
    grid-gap: var(--padding-md);
    grid-template-columns: [start deal-start] auto [deal-end autoplay-start] auto [autoplay-end spacer-start] 1fr [spacer-end config-start] auto [config-end logs-start] auto [logs-end end];
    grid-template-rows: [start] auto [end];
  }

  .controls-deal {
    grid-column: deal-start/deal-end;
    grid-row: start/end;
  }

  .controls-deal button {
    width: 18rem;
  }

  .controls-autoplay {
    grid-column: autoplay-start/autoplay-end;
    grid-row: start/end;
  }

  .controls-spacer {
    grid-column: spacer-start/spacer-end;
    grid-row: start/end;
  }

  .controls-config {
    grid-column: config-start/config-end;
    grid-row: start/end;
  }

  .controls-logs {
    grid-column: logs-start/logs-end;
    grid-row: start/end;
  }
}
