.players {
  display: flex;
  flex-wrap: wrap;
}

.players-player {
  width: calc(100% / 2);
  padding: var(--padding-md);
}

@media only screen and (min-width: 600px) {
  .players-player {
    width: calc(100% / 3);
  }
}

@media only screen and (min-width: 1200px) {
  .players-player {
    width: calc(100% / 4);
  }
}

.players-player .players-title {
  display: flex;
}

.players-player .players-title > * {
  height: 2rem;
  line-height: 2rem;
  margin: 0 var(--padding-md) 0 0;
}

.players-player .players-name {
  flex-grow: 10;
}

.players-player .players-points {
  margin-right: 0;
}

.players-cards {
  display: flex;
  flex-direction: row;
  min-height: 6rem;
  padding: var(--padding-md) 0 0 0;
}

@media only screen and (min-width: 600px) {
  .players-cards {
    min-height: 9rem;
  }
}

@media only screen and (min-width: 992px) {
  .players-cards {
    min-height: 12rem;
  }
}

.players-add {
  padding: var(--padding-md);
  width: 100%;
}

#players-add {
  width: 100%;
}
