.players {
  display: flex;
  flex-wrap: wrap;
}

.players-player {
  width: calc(100% / 2);
}

@media only screen and (min-width: 992px) {
  .players-player {
    width: calc(100% / 3);
  }
}

.players-player h6 {
  display: flex;
}

.players-player h6 > * {
  height: 2rem;
  line-height: 2rem;
}

.players-name {
}

.players-cards {
  display: flex;
  flex-direction: row;
  min-height: 12rem;
}
