.ranking-table {
  height: 100%;
}

.ranking-table > thead > tr {
  border-bottom: var(--border-thickness) solid var(--color-primary-dark) !important;
}

.ranking-table > tbody > tr {
  border: none !important;
}

.ranking-table > tbody > tr:nth-of-type(2n + 1) {
  background-color: var(--fade-grey-sm) !important;
}

.ranking-table > tbody > tr:nth-of-type(2n) {
  background-color: var(--fade-dark-sm) !important;
}

.ranking-table > tbody > tr > td {
  padding: var(--padding-sm) var(--padding-md);
}
