@font-face {
	font-family: 'MadsLatin';
	font-style: normal;
	font-weight: normal;
	src:
		url('/assets/fonts/roboto-v20-latin-regular.woff2') format('woff2'),
		url('/assets/fonts/roboto-v20-latin-regular.woff') format('woff'),
		url('/assets/fonts/roboto-v20-latin-regular.ttf') format('ttf');
}

@font-face {
	font-family: 'MadsFarsi';
	font-style: normal;
	font-weight: normal;
	src:
		url('/assets/fonts/IRANSansWeb-Light-SWD.woff2') format('woff2'),
		url('/assets/fonts/IRANSansWeb-Light-SWD.woff') format('woff');
}

html * {
	font-family: MadsLatin;
}

html[lang="fa"] * {
	font-family: MadsFarsi;
}
