@charset "utf-8";

html *,
html *::after,
html *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

html {
  font-size: 10px;
}

body {
  line-height: 1.5;
}

button,
input,
select,
textarea {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

b {
  font-weight: bold
}

i {
  font-style: italic
}

#root {
  width: 100%;
  height: 100%;
}